# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist
/tmp
/deploy
/screenshots

# dependencies
node_modules
/bower_components
.prettierrc.js

# IDEs
/.idea
/.vscode
/*.iml

# misc
.DS_Store
/.firebase
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
!/test/karma.conf.js

projects/apps/universal-demo-app/package-lock.json
projects/apps/universal-demo-app/yarn.lock
projects/apps/demo-app/yarn.lock
projects/apps/demo-app/package-lock.json
yarn-error.log
.angular/cache
out-tsc
